.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.text-area *.text {
    -fx-text-alignment: center;

}

.ButtonGetShitDone.TimerRunning {
    -fx-background-color: #009688;
    -fx-background-radius: 30;
}

.ButtonGetShitDone.TimerStopped {
    -fx-background-color: #00b4ff;
    -fx-background-radius: 30;
}

.CountdownTimer.Positive {
    -fx-text-fill: #000000;
}

.CountdownTimer.Negative {
    -fx-text-fill: #ff0000;
}